@using Microsoft.AspNetCore.Identity
@using WebShop.Areas.Identity.Data
@using System.Security.Claims
@inject SignInManager<WebShopUser> SignInManager
@inject UserManager<WebShopUser> UserManager
@{
    var roles = User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(x => x.Value);
}

<!-- start: header -->
<header class="header header-nav-menu header-nav-links">
    <div class="logo-container">
        <a href="../" class="logo">
            <img src="~/img/logo-modern.png" class="logo-image" width="90" height="24" alt="Porto Admin" /><img src="img/logo-default.png" class="logo-image-mobile" width="90" height="41" alt="Porto Admin" />
        </a>
        <button class="btn header-btn-collapse-nav d-lg-none" data-toggle="collapse" data-target=".header-nav">
            <i class="fas fa-bars"></i>
        </button>
    </div>

    <!-- start: search & user box -->
    <div class="header-right">
        <span class="separator"></span>

        <div id="userbox" class="userbox">
            <a href="#" data-toggle="dropdown">
                <span class="profile-picture profile-picture-as-text">JD</span>
                <div class="profile-info profile-info-no-role" data-lock-name="@UserManager.GetUserName(User)" data-lock-email="@UserManager.GetUserName(User)">
                    <span class="name">Hi, <strong class="font-weight-semibold">@UserManager.GetUserName(User)</strong></span>
                </div>

                <i class="fas fa-chevron-down text-color-dark"></i>
            </a>

            <div class="dropdown-menu">
                <ul class="list-unstyled">
                    <li>
                        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="bx bx-user"></i> My Profile</a>
                    </li>
                    <li>
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                            <a id="logout" type="submit" class="nav-link btn btn-link text-dark" href="#"><i class="bx bx-log-out"></i>Logout</a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end: search & user box -->
</header>
<!-- end: header -->
