<!doctype html>
<html class="modern fixed has-top-menu has-left-sidebar-half">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Dashboard | Porto Admin - Responsive HTML5 Template</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,600,700,800,900" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" />

		<link rel="stylesheet" href="~/vendor/animate/animate.compat.css">
		<link rel="stylesheet" href="~/vendor/font-awesome/css/all.min.css" />
		<link rel="stylesheet" href="~/vendor/boxicons/css/boxicons.min.css" />
		<link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="~/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="~/vendor/morris/morris.css" />
		<link rel="stylesheet" href="~/vendor/datatables/media/css/dataTables.bootstrap4.css" />

		<!--(remove-empty-lines-end)-->

		<!-- Theme CSS -->
		<link rel="stylesheet" href="~/css/theme.css" />


		<!-- Theme Layout -->
		<link rel="stylesheet" href="~/css/layouts/modern.css" />
		<!--(remove-empty-lines-end)-->



		<!-- Skin CSS -->
		<link rel="stylesheet" href="~/css/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="~/css/custom.css">

		<!-- Head Libs -->
		<script src="~/vendor/modernizr/modernizr.js"></script>

	</head>
	<body>
		<section class="body">
			<partial name="PartialView/_headerAdminPartial" />
			<div class="inner-wrapper">
				<partial name="PartialView/_sideBarAdminPartial" />
				<section role="main" class="content-body content-body-modern">
					<partial name="PartialView/_breadcrumbPartial" />
					@RenderBody()
				</section>
			</div>
		</section>

		
		<!-- Vendor -->
		<script src="~/vendor/jquery/jquery.js"></script>
		<script src="~/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="~/vendor/popper/umd/popper.min.js"></script>
		<script src="~/vendor/bootstrap/js/bootstrap.js"></script>
		<script src="~/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="~/vendor/common/common.js"></script>
		<script src="~/vendor/nanoscroller/nanoscroller.js"></script>
		<script src="~/vendor/magnific-popup/jquery.magnific-popup.js"></script>
		<script src="~/vendor/jquery-placeholder/jquery.placeholder.js"></script>
		
		<!-- Specific Page Vendor -->
		<script src="~/vendor/raphael/raphael.js"></script>
		<script src="~/vendor/morris/morris.js"></script>
		<script src="~/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
		<script src="~/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>


		<!--(remove-empty-lines-end)-->
		
		<!-- Theme Base, Components and Settings -->
	<script src="~/js/theme.js"></script>
		
		<!-- Theme Custom -->
	<script src="~/js/custom.js"></script>
		
		<!-- Theme Initialization Files -->
	<script src="~/js/theme.init.js"></script>

		<!-- Examples -->
	<script src="~/js/examples/examples.header.menu.js"></script>
	<script src="~/js/examples/examples.ecommerce.dashboard.js"></script>
	<script src="~/js/examples/examples.ecommerce.datatables.list.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
	</body>
</html>